{%extends 'base.html'%}
{%load static %}
{%block content%}
{%include 'parts/search.html'%}
<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    {%for b in blog%}
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="{% static 'img/blog/single_blog_1.png' %}" alt="">
                            <a href="#" class="blog_item_date">
                                <h3>{{b.publish_time.hour}}:{{b.publish_time.minute}}</h3>
                                <p>{{b.publish_day}}</p>
                            </a>
                        </div>
                          
                        <div class="blog_details"> 
                            <a class="d-inline-block" href="">
                                <h2>{{b.blog_name}}</h2>
                            </a>
                            <p>{{b.blog_description}}</p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                            </ul>
                        </div>
                    </article>
    
                    {%endfor%}
                    
                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            <li class="page-item">
                                <a href="" class="page-link" aria-label="Previous">
                                    <i class="ti-angle-right"></i>
                                </a>
                            </li>
    
                                <li class="page-item">
                                    <a href="" class="page-link">2</a>
                                </li>
                                <li class="page-item active">
                                    <a href="" class="page-link">1</a>
                                </li>
                            
                            <li class="page-item">
                                <a href="" class="page-link" aria-label="Next">
                                    <i class="ti-angle-right"></i>
                                </a>
                            </li>
    
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <form method="GET">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input name='q' type="text" class="form-control" placeholder='بحث فى المقالات'
                                        onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Search Keyword'">
                                    <div class="input-group-append">
                                        <button class="btn" type="button"><i class="ti-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                type="submit">إبحث</button>
                        </form>
                    </aside>
                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">أقدم المقالات</h3>
    
    
                            <div class="media post_item">
                                    <img src="img/blog/single_blog_1.png" alt="" style="width: 30spx; height: 30px;">
                                <div class="media-body">
                                    <a href="single-blog.html">
                                        <h3>تجميل وزراعه الاسنان</h3>
                                    </a>
                                    <p>تم النتشر في : <span style="color: #00D363;">3/6/2020</p>
                                </div>
                            </div>
                        
    
                    </aside>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!--================Blog Area =================-->
    </div>
    
{%endblock content%}